<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap" rel="stylesheet"> 
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/emoji.css">
        <title>Junior Design and Dev Jobs.</title>
    </head>

    <body>
        <!--Navbar-->
        <div class="header-bg">
        <nav class="navbar navbar-expand-sm bg-transparent font-weight-bold">
            <div class="container">
                <a href="#" class="navbar-brand text-white">Pandajobs.</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto mx-5">
                        <li class="nav-item">
                            <button type="submit" class="btn btn-lg ml-2 post-btn">Post a Job<i class="em em-briefcase"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Header-->
        <header id="home-section" class="container">
            <h1 class="display-4 text-white">Find your first entry level job in tech.</h1>
            <p class="lead text-white">A job board with the goal of getting you your first job in tech.</p>

            <form class="form-group mt-4 text-white">
                <h3>Get a weekly email.<i class="em em-zap"></i></h3>
                <div class="row">
                    <div class="col">
                        <label for="email" class="clear-fix">Email address</label>
                        <input class="form-control form-control-lg" id="email" type="email" placeholder="Enter email">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn email-btn">Lets go!<i class="em em---1 clear-fix"></i></button>
                    </div>
                </div>
                <small class="form-text text-muted clear-fix">We respect your privacy & have a zero spam tolerance.</small>
            </form>
        </header>
        </div>
        <!--Job listing-->
        <section id="jb-listing" class="container">
            <div class="sec-nav">
                <nav class="navbar navbar-expand-sm bg-white navbar-light font-weight-bold p-0">
                    <h1><%= rows.length %> Jobs<i class="em em-clipboard"></i></h1>
                    <ul class="navbar-nav ml-auto mx-5">
                        <li class="nav-item">
                            <button type="submit" class="btn btn-dark btn-lg ml-2 post-btn">Post a Job<i class="em em-briefcase"></i></button>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--Listing-->
            <% rows.forEach(row => { %>
                <div class="pt-4">
                    <p class="text-muted clear-fix pt-4 pl-auto"><%= row.location %> - <%= row.duration %></p>
                    <a href="/<%= row.slug %>/<%= row.id %>"><h1 class="fw-black"><%= row.title %> - <%= row.company%></h1></a>
                    <p><%= row.description.slice(0, 240).concat('...') %></p>
                </div>
            <% }); %>

            
            <!-- email newsletter -->
            <form class="form-group mt-5 mb-5">
                <h3>Get a weekly email.<i class="em em-zap"></i></h3>
                <div class="row">
                    <div class="col">
                        <label for="email" class="clear-fix">Email address</label>
                        <input class="form-control form-control-lg" id="email" type="email" placeholder="Enter email">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-dark email-btn">Lets go!<i class="em em---1 clear-fix"></i></button>
                    </div>
                </div>
                <small class="form-text text-muted clear-fix">We respect your privacy & have a zero spam tolerance.</small>
            </form>
        </section>
        <!--Footer-->
        <div class="footer bg-dark py-4">
            <div class="container text-center">
                <i class="em em-heart"></i>
                <h5 class="text-white fw-semi-bold">Built by Charles Kiarie</h5>
                <h5 class="display-5 fw-semi-bold text-white">Find us on:</h5>
                <a class="f-links fw-medium" href="">Facebook</a>
                <a class="f-links fw-medium px-2" href="">Twitter</a>
                <a class="f-links fw-medium" href="">Instagram</a>
                <p class="text-muted text-center my-2">&copy 2019 Pandajobs</p>
            </div>
        </div>
    </body>
</html>