<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
        <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/emoji.css">
        <title>Junior Design and Dev Jobs.</title> 
    </head>

    <body>
        <!--Navbar-->
        <header>
            <nav class="navbar navbar-expand-sm font-weight-bold nav-bg">
            <div class="container">
                <a href="#" class="navbar-brand text-white">Pandajobs.</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto mx-5">
                        <li class="nav-item">
                            <button type="submit" class="btn btn-lg ml-2 post-btn">Post a Job<i class="em em-briefcase"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
            </nav>
        </header>
        <!--Full Listing-->
        <div class="container pb-5">
                <p class="text-muted clear-fix pt-5 pl-auto">Location - Fulltime</p>
                <h1 class="job-title fw-black">Job title - Company name</h1>
                <div class="about py-5">
                    <h4 class="fw-bold">About the company</h4>
                    <p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>    
                </div>
                <div class="job-des pb-5">
                    <h4 class="fw-bold">Job description</h4>
                    <p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                    <h5>Responsibilities</h5>
                    <ol>
                        <li><p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p></li>
                        <li><p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p></li>
                        <li><p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p></li>
                        <li><p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p></li>
                        <li><p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p></li>
                    </ol>    
                </div>
                <div class="req-list pb-5">
                    <h4 class="fw-bold">Requirements</h4>
                    <ol>
                        <li><p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p></li>
                        <li><p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p></li>
                        <li><p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p></li>
                    </ol>    
                </div>
                <div>
                    <h4 class="fw-bold">How to apply</h4>
                    <p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>    
                </div>
                <!-- Newsletter -->
                <form class="form-group pt-4">
                <h3><i class="em em-zap"></i>Get a weekly email.<i class="em em-zap"></i></h3>
                <div class="row">
                    <div class="col">
                        <label for="email" class="clear-fix">Email address</label>
                        <input class="form-control form-control-lg" id="email" type="email" placeholder="Enter email">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-dark email-btn">Lets go!<i class="em em---1 clear-fix"></i></button>
                    </div>
                </div>
                <small class="form-text text-muted clear-fix">We respect your privacy & have a zero spam tolerance.</small>
                </form>
            </div>
        <!--Footer-->
        <div class="footer bg-dark py-5">
            <div class="container text-center">
                <i class="em em-heart"></i>
                <h5 class="text-white">Built by Charles Kiarie</h5>
                <h5 class="display-5 text-white">Find us on</h5>
                <a class="f-links font-weight-bold" href="">Facebook</a>
                <a class="f-links font-weight-bold px-2" href="">Twitter</a>
                <a class="f-links font-weight-bold" href="">Instagram</a>
                <p class="text-muted text-center my-2">&copy 2019 Pandajobs</p>
            </div>
        </div>
    </body>
</html>