<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
        <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/emoji.css">
        <title>Junior Design and Dev Jobs.</title> 
    </head>

    <body>
        <!--Navbar-->
        <header>
            <nav class="navbar navbar-expand-sm font-weight-bold nav-bg">
            <div class="container">
                <a href="#" class="navbar-brand text-white">Pandajobs.</a>
            </div>
            </nav>
        </header>
        <!--How to pay-->
        <div class="container pb-5">
                <div class="py-5 text-center">
                    <h1 class="fw-bold">Post A Job</h1>
                    <h4 class="fw-bold">Looking for Junior designers and developers we have talented people ready to apply.</h4>
                    <button class="btn email-btn btn-lg">Pay here</button>
                    <p class="fw-medium">$50/month/per job.</p>
                </div>
                <div class="job-des pb-5">
                    <h4 class="fw-bold">Benefits</h4>
                    <p>For $50 per job you get:</p>
                    <ol>
                        <li><p>Posted to our twitter account and facebook pages.</p></li>
                        <li><p>A single Listing is active on Pandajobs for 31 days.</p></li>
                        <li><p>Post is sent to our growing email list once a week.</p></li>
                        <li><p>Discount for non-profits is available.</p></li>
                    </ol>    
                </div>
                <div class="job-des pb-5">
                    <h4 class="fw-bold">Details</h4>
                    <p>Pandajobs is still early in development meaning im keeping things lean so currently I can only accept job posts over twitter or preferably email so be sure to send an email containing the job offer within it as the email itself, text document, word-doc, pdf or image attached.</p>
                    <h5>Requirements</h5>
                    <ol>
                        <li><p>Clearly describe what the job entails and if it is contract work or fulltime.</p></li>
                        <li><p>In list form state the responsibilities new hires will be doing.</p></li>
                        <li><p>In list form state the responsibilities new hires will be doing.</p></li>
                        <li><p>Provide ways for applicants to apply whether it be via email or through recruitment software. Also state what information applicants need to provide. e.g portfolio's, github links.</p></li>
                        <li><p>Send job posts to email: kiariecharles77@gmail.com</p></li>
                    </ol>    
                </div>
                <div class="req-list pb-5">
                    <h4 class="fw-bold">Guidelines</h4>
                    <ol>
                        <li><p>How to pay: Click the button provided above and pay with card. Payment provider is flutterwave.</p></li>
                        <li><p>Refunds: Email me to get a refund takes 1-2 weeks.</p></li>
                        <li><p>Edit: Email me to make any changes to your listing.</p></li>
                    </ol>    
                </div>
                <div>
                    <h4 class="fw-bold">Get in touch</h4>
                    <p>Got further questions or need more help? Please reach out on twitter or email: kiariecharles77@gmail.com and I will be sure to get back to you.</p>    
                </div>
            </div>
        <!--Footer-->
        <div class="footer bg-dark py-5">
            <div class="container text-center">
                <i class="em em-heart"></i>
                <h5 class="text-white">Built by Charles Kiarie</h5>
                <h5 class="display-5 text-white">Find us on</h5>
                <a class="f-links font-weight-bold" href="">Facebook</a>
                <a class="f-links font-weight-bold px-2" href="">Twitter</a>
                <a class="f-links font-weight-bold" href="">Instagram</a>
                <p class="text-muted text-center my-2">&copy 2019 Visajobs</p>
            </div>
        </div>
    </body>
</html>