body {
  font-family: 'Raleway', sans-serif;
}
.header-bg {
  background-color: #082ed0;
  padding: 0 0 50px 0;
}

#home-section {
  max-height: 100vh;
}

#home-section h1 {
  margin: 150px 0 0 0;
  font-weight: 900;
  font-size: 5rem;
}

#home-section h3 {
  margin: 150px 0 0 0;
}

.navbar-brand {
  font-weight: 900;
}

.nav-bg {
  background-color: #082ed0;
}

.sec-nav {
  padding: 50px 0 0 0;
}

.em {
  margin-left: 5px;
  margin-bottom: 6px;
}

.email-btn {
  margin-top: 31px;
  font-weight: 700;
}

.post-btn {
  font-weight: 700;
  border-radius: 0;
}

.email-btn:hover, .post-btn:hover {
  background-color: #d0aa08;
  color: white;
  font-weight: 800;
  border-style: none;
}

.email-btn:active {
  
}
a {
  color: #212529;
}
a:hover {
  color: #d0aa08;
}

section #jb-listing {
  margin-top: auto;
  padding-top: auto;
}

.fw-black {
  font-weight: 900;
}

.fw-bold {
  font-weight: 800;
}

.fw-semi-bold {
  font-weight: 700;
}

.fw-medium {
  font-weight: 600
}

.kapp-logo {
  size: cover;
  width: 150px;
  height: 150px; }

/*form input #email{
  width: 400px; 
}*/

#theme-section {
  background-color: #23272b;
  min-height: 650px; }

.concept-img {
  height: 730;
  max-width: 550px; }

.f-links {
  color: #ffffff;
  text-decoration: underline; }

.f-links:hover {
  color: #d0aa08;
}

.thanks-gif {
  width: 620px;
  height: 350px; }


